.DS_Store
# Added by cargo
/list
/target
.metals
.vscode
install
.cache/
account/target
card/target
ovh
ovh.pub
.vagrant/


#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/


# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

2021*
jmeter*
node_modules/
