.DS_Store
# Added by cargo
/list
/target
.metals
.vscode
install
.cache/
.env
account/target
card/target

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# Vim
*.swp
*.swo

# patch
*.orig
*.rej
